@font-face {
    font-family: dki;
    src: url(dki.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #eeeded;
}

.hhs-top-bar {
    line-height: 30px;
    color: #575757;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 12px;
}

.hhs-top-bar a, .hhs-top-bar a:visited, .hhs-top-bar a:hover, .hhs-top-bar a:active {
    color: #575757;
}

.follow-top-bar {
    text-align: right;
}

.follow-top-bar a {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 1;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
}

.follow-top-bar a:first-of-type {
    margin-left: 0.5rem;
}

.follow-top-bar a span::before {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    font-size: inherit;
    font-family: dki;
    line-height: 16px;
    text-rendering: auto;
    text-transform: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.follow-top-bar .i-twitter::before {
    content: "\e02a";
}

.follow-top-bar .i-facebook::before {
    content: "\e01c";
}

.follow-top-bar .i-rss::before {
    content: "\e024";
}

.follow-top-bar a, .follow-top-bar a:visited, .follow-top-bar a:hover {
    color: #fff;
    text-decoration: none;
}

.follow-top-bar .twitter {
    background-color: #2ca7e0;
}

.follow-top-bar .twitter:hover {
    background-color: #2386b3;
}

.follow-top-bar .facebook {
    background-color: #355892;
}

.follow-top-bar .facebook:hover {
    background-color: #2a4675;
}

.follow-top-bar .rss {
    background-color: #ee8b14;
}

.follow-top-bar .rss:hover {
    background-color: #be6f10;
}

.main-header {
    background-color: #fff;
}

.site-logo {
    max-width: 300px;
    max-height: 67px;
    margin: 1.5rem 0;
}

.planner-main {
    margin: 1.5rem 0;
    background-color: #fff;
    box-shadow: 0 1.5px 16px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #2a2b28;
    color: #fff;
    padding: 2rem 0;
    font-family: "Open Sans", Helvetica, sans-serif;
}

footer a, footer a:visited, footer a:hover, footer a:active {
    color: #fff;
}

footer ul {
    list-style: none;
    text-align: center;
}

footer li {
    display: inline;
}

footer li:before {
    content: '| ';
}

footer li:first-child:before {
    content: normal;
}

.eld {
    display: inline-block;
    position: relative;
    height: 1em;
    overflow: hidden;
}
  
.eld::before {
    content: "\e03a";
    display: inline-block;
    position: relative;
    top: 2px;
    vertical-align: top;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 1em;
    font-family: dki;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*START mitigate bad configuration of CNPP IE browser. Would not load fonts*/

.glyphicon-circle-arrow-right {
    background-image: url("/bwp-assets/styles/glyphicons/rightArrow.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 17px;
}

.glyphicon-circle-arrow-right:before {
    content: "";
}

.glyphicon-paste {
    background-image: url("/bwp-assets/styles/glyphicons/starting.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 17px;
}

.glyphicon-paste:before {
    content: "";
}

.glyphicon-circle-arrow-left {
    background-image: url("/bwp-assets/styles/glyphicons/leftArrow.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 17px;
}

.glyphicon-circle-arrow-left:before {
    content: "";
}

.glyphicon-chevron-right {
    background-image: url("/bwp-assets/styles/glyphicons/chevronRight.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 17px;
}

.glyphicon-chevron-right:before {
    content: "";
}

.glyphicon-chevron-left {
    background-image: url("/bwp-assets/styles/glyphicons/chevronLeft.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 17px;
}

.glyphicon-chevron-left:before {
    content: "";
}

.glyphicon-info-sign {
    background-image: url("/bwp-assets/styles/glyphicons/info.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 17px;
}

.glyphicon-info-sign:before {
    content: "";
}

.glyphicon-exclamation-sign {
    background-image: url("/bwp-assets/styles/glyphicons/exclamation-sign.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 17px;
}

.glyphicon-exclamation-sign:before {
    content: "";
}

.graphInfo > .glyphicon-info-sign, .modal-title > .glyphicon-info-sign {
    background-image: url("/bwp-assets/styles/glyphicons/infoBlueLg.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 20px;
}


/*End mitigate bad configuration of NIDDK computers. Would not load fonts*/

.activityChangeRow {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

body {
    padding: 0;
}

table td {
    padding: 1px;
}

.modal {
    display: block;
}

.advanced {
    background-color: #dfdfdf;
    padding: 3px;
}

h5 {
    margin-bottom: 0;
    margin-top: 0;
}

.input-group-btn select {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    /*color: #3c763d;
            background-color: #dff0d8;
            border-color: #3c763d;*/
    background-color: #265a88;
    background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%);
    background-repeat: repeat-x;
    border-color: #245580;
    color: #fff !important;
    /*width: 132px;*/
    /*min-width of starting was 435px*/
    width: 85px;
}

.input-group-btn select option {
    color: #000;
    background-color: #fff;
}

.glyphicon {
    padding-right: 5px;
}

.label {
    font-size: 13px;
    line-height: 28px;
}

.iga-width {
    width: 170px;
    text-align: left;
}

.iga-width-w {
    width: 188px;
    text-align: left;
}

.int-wide {
    width: 230px;
    text-align: left;
}

.iga-width-e {
    width: 50px;
    text-align: center;
}

.iga-width-ew {
    width: 75px;
    text-align: center;
}

.iga-width-exw {
    width: 85px;
    text-align: center;
}

.w100 {
    width: 100% !important;
}

.panel-body {
    padding: 7px 7px 2px 7px;
}

.panel-footer {
    padding: 7px 7px 2px 7px;
}

.simLabel {
    display: inline-block;
    width: 90px;
    line-height: 32px;
    text-align: right !important;
    padding-right: 3px;
}

.panel-heading {
    font-weight: bold;
}

.simVal {
    display: inline-block;
    width: 50px;
    padding: 0;
    text-align: right !important;
    padding-right: 7px;
}

.btn-block {
    margin-top: 0 !important;
}

.form-group {
    /*margin-bottom: 7px;*/
}

.div-center {
    margin: 0 auto;
    text-align: center;
}

.alert {
    margin-bottom: 5px;
    padding: 3px;
}

.has-success .input-group-addon, .alert-success {
    color: #2F4B21 !important;
}

.icon-success {
    color: #5CB85C;
}

.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #c4e3f3;
    background-image: -webkit-linear-gradient(top, #d9edf7 0, #c4e3f3 100%);
    background-image: -o-linear-gradient(top, #d9edf7 0, #c4e3f3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#c4e3f3));
    background-image: linear-gradient(to bottom, #d9edf7 0, #c4e3f3 100%);
    background-repeat: repeat-x;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    color: #31708f;
}

.modal-title {
    font-weight: bold;
}

.form-inline .form-control {
    width: auto;
}

.form-inline .form-group {
    display: inline-block;
}

.calBtn {
    background-image: linear-gradient(to bottom, #dff0d8 0, #dff0d8 100%);
    color: #2F4B21;
    border-color: #3c763d;
}

.nav > li > a {
    bottom: -1px !important;
}

.inputIn {
    width: 31px;
    padding-right: 5px;
    padding-left: 5px;
}

.lastAddon {
    border-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.resultsHighlight {
    background-color: #fefefe;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #808080;
}

.modal-body a {
    color: #0072c6;
    font-weight: bold;
}

.guidedPaddingStep1 {
    padding-left: 415px;
}

.guidedPanelStep1 {
    min-width: 415px;
    width: 415px;
    padding-left: 0;
    padding-right: 0;
}

.guidedPadding {
    padding-left: 350px;
}

.guidedPanel {
    min-width: 350px;
    width: 350px;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 767px) {
    .guidedPadding, .guidedPaddingStep1 {
        padding-left: 20px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 1510px) {
    .rightPanels {
        min-width: 1100px;
    }
}


/*custom navbar colors*/

.navbar-default {
    background-color: #fff;
    border: 0;
}

.navbar-default .navbar-brand {
    color: #575757;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.navbar-default .navbar-brand-title {
    display: inline;
    font-size: 30px;
}

.navbar-default .navbar-brand-title h1 {
    display: inline;
    font-weight: 600;
    font-size: inherit;
}

.navbar-default .navbar-brand-title .hidden-xs {
    display: inline-block;
    border-left: solid 2px #575757;
    padding-left: 2rem;
    margin-left: 1.7rem;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #192f05;
}

.navbar-default .navbar-text {
    color: #575757;
}

.navbar-default .navbar-nav {
    background-color: #d9edf7;
}

.navbar-default .navbar-nav > li > a {
    color: #575757;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #192f05;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #192f05;
    background-color: #5bc0de;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #192f05;
    background-color: #5bc0de;
}

.navbar-default .navbar-toggle {
    border-color: #5bc0de;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #5bc0de;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #4c6c2e;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #4c6c2e;
}

.navbar-default .navbar-collapse {
    border-top: 0;
}

.navbar-default .navbar-link {
    color: #4c6c2e;
}

.navbar-default .navbar-link:hover {
    color: #192f05;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #4c6c2e;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #192f05;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #192f05;
        background-color: #5bc0de;
    }
}


/*navbar pcx mods*/

.navbar-brand:hover {
    color: #575757 !important;
}

.navbar-brand {
    padding: 5px 15px 5px 15px;
    vertical-align: middle;
}

.navbar-brand-title {
    padding-left: 15px;
    vertical-align: middle;
    font-size: 30px;
}

.navbar-brand-title .hidden-xs {
    font-size: 21px;
}

.navbar-brand-img {
    height: 45px;
    display: inline-block !important;
    vertical-align: middle;
}

.navbar-title {
    margin: 0;
    display: inline-block;
}

.heightPadding {
    padding-right: 3px;
    padding-left: 3px;
}

.inputFt {
    width: 31px;
    padding-left: 10px;
    padding-right: 10px;
}