<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8" />
  {% comment %} <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png"> {% endcomment %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Entrar - nutricenas</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="">
  <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    {% if form.errors %}
      <p>Nome de utilizador ou palavra-passe errados. Por favor tente outra vez.</p>
    {% endif %}
    
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.username }}
      {{ form.password }}
      <input type="submit" class="w-100" value="Entrar" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    
    {# Assumes you setup the password_reset view in your URLconf #}
    {% comment %} <p><a href="{% url 'password_reset' %}">Recuperar palavra-chave?</a></p> {% endcomment %}
  </div>
</body>
