{% extends "common/generic_form.html" %}

{% block links %}
  {% include 'common/calendar_links.html' %}
{% endblock %}

{% block navbar %}
  {% include 'common/gapi_navbar.html' %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-8 mb-4 mb-lg-0">
      <div id="calendar"></div>
    </div>
    <div class="col-lg-4">
      <form id="form" action="" method="post" class="mb-3">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% block form %}{{ block.super }}{% endblock %}
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% include 'common/calendar_scripts.html' with render_calendar='true' %}
{% endblock %}
