{% extends 'common/meeting_flow.html' %}

{% block navbar_submit %}
  <a href="{{ next_step_url }}" class="btn btn-primary my-0 ml-3 px-3 float-right">
      <i class="fas fa-chevron-right"></i>
      <span>&nbsp;&nbsp;Seguinte</span>
  </a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Medições antropométricas</h4>
        </div>
        <div class="card-body">
          {% load service_tags %}
          <div class="list-group">
            {% for measure in measures %}
              <a
                  href="{% url 'meeting-measure' meeting.id %}?measure={{ measure.name }}{% if next %}&next={{ next }}{% endif %}"
                  class="list-group-item list-group-item-action{% if measure == current_measure %} active{% endif %}">
                {{ measure.display_name }}
                {% with client|get_last_measurement:measure as last_measurement %}
                  <span class="float-right">
                    {% if last_measurement %}
                      {{ last_measurement.value }} {{ last_measurement.unit }}
                    {% else %}
                      -
                    {% endif %}
                  </span>
                {% endwith %}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Nova medição</h4>
        </div>
        <div class="card-body">
          <form id="form" action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item d-flex p-0">{{ form.date }}</li>
              <li class="list-group-item d-flex p-0">{{ form.value }}</li>
              <li class="list-group-item d-flex p-0">{{ form.unit }}</li>
              <li class="list-group-item d-flex p-0">
                <input type="submit" class="btn btn-primary rounded-0 m-0" value="Registar">
              </li>
            </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Medições</h4>
        </div>
        <div class="card-body">
          {% for measurement in measurements %}
            <ul class="list-group list-group-horizontal w-100 mb-2">
              <li class="list-group-item w-50 bg-light">{{ measurement.date }}</li>
              <li class="list-group-item w-50">{{ measurement.value }}{{ measurement.unit }}</li>
            </ul>
          {% endfor %}
        </div>
      </div>
      {% comment %} <div class="card">
        <div class="card-header">
          <h4 class="card-title">Progresso</h4>
        </div>
        <div class="card-body">
          
        </div>
      </div> {% endcomment %}
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Notas</h4>
        </div>
        <div class="card-body">
          {{ form.notes.errors }}
          {{ form.notes }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
