<!doctype html>
<html lang="pt">
  <head>
    <title>Plano</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3a658d280c.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plan.css' %}">
  </head>
  <body>

    <div class="container-lg">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% include './client_info/index.html' with columns=columns.client_info %}
        {% include './niddk_calculator/index.html' with columns=columns.niddk_calculator %}
        {% include './calculations/index.html' with columns=columns.calculations %}
        {% include './macronutrients/index.html' with columns=columns.macronutrients %}
        
        <a href="{{ next }}" class="btn btn-secondary float-right">Cancelar</a>
        <input type="submit" class="btn btn-primary float-right" value="Guardar">
      </form>
    </div>

    <iframe id="calc" src="{% static 'calc/calc.html' %}" style="display: none;"></iframe>

    <script type='text/javascript'>
      var jsContext = {{ js_context|safe }};
    </script>
    <script src="{% static 'js/plan.js' %}"></script>
  </body>
</html>


      {% comment %} {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %} {% endcomment %}