{% extends '../base_generic.html' %}

{% block title %}
  <title>Planeamento - nutricenas</title>
{% endblock %}

{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'css/plan.css' %}">
{% endblock %}

{% block page %}Planeamento{% endblock %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% include './client_info/index.html' with columns=columns.client_info %}
    {% include './calculations/index.html' %}
    {% include './macronutrients/index.html' with columns=columns.macronutrients %}
    {% include './food_dosages/index.html' with columns=None unit='doses' %}
    
    <a href="{{ next }}" class="btn btn-secondary float-right">Cancelar</a>
    <input type="submit" class="btn btn-primary float-right mr-4" value="Guardar">
  </form>

  <iframe id="calc" src="{% static 'calc/calc.html' %}" class="d-none"></iframe>
{% endblock %}

{% block scripts %}
  <script type='text/javascript'>
    var jsContext = {{ js_context|safe }};
  </script>
  <script src="{% static 'js/plan.js' %}"></script>
{% endblock %}

      {% comment %} {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %} {% endcomment %}