{% extends "base_generic.html" %}

{% block navbar %}
  <button type="submit" class="btn btn-primary my-0 float-right" form="form">
    <i class="fas fa-check"></i>
    <span>&nbsp;&nbsp;Confirmar</span>
  </button>
  <a href="{{ next }}" class="btn btn-secondary my-0 ml-3 float-right">
    <i class="fas fa-undo"></i>
    <span>&nbsp;&nbsp;Cancelar</span>
  </a>
{% endblock %}

{% block content %}

  <p>Quer apagar o {{ name }} "{{ object }}"?</p>

  <form id="form" action="" method="POST">
    {% csrf_token %}
    {% block form %}{% endblock %}
  </form>

{% endblock %}
