<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,600,700" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>window.angular || document.write('<script src="calc_files/angular.min.js"><\/script>');</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script>
        if (typeof moment === 'undefined') {
            document.write('<script src="calc_files/moment.min.js">\x3C/script>');
        }
    </script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.25/angular-sanitize.min.js"></script>

    <script src="calc_files/dialogs.js"></script>
    <script src="calc_files/pcxCommon.js"></script>
    <script src="calc_files/slider.js"></script>
    <script src="calc_files/appController.js?rev=20200424"></script>
    <script src="calc_files/palChangeDialogController.js"></script>
    <script src="calc_files/palDialogController.js"></script>
    <script src="calc_files/directives.js"></script>
    <script src="calc_files/baseline.js"></script>
    <script src="calc_files/bodychange.js"></script>
    <script src="calc_files/bodymodel.js"></script>
    <script src="calc_files/dailyparams.js"></script>
    <script src="calc_files/intervention.js"></script>
    <script src="calc_files/constants.js"></script>

    <link href="calc_files/bwp.css" rel="stylesheet" />
    <script>
        google.charts.load('current', { 'packages': ['corechart', 'table'] });
        google.setOnLoadCallback(function () {
            angular.bootstrap(document.body, ['BWS']);
        });
    </script>
</head>

<body ng-controller="appController">
    <script>
    var console = console || { "log": function () { } };
    </script>

    <div class="planner-main">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- Left Side of Navigation Bar -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-show="guidedStep==0"><a ng-click="init(true)">Reset</a></li>
                                <li ng-show="guidedStep==0" class="divider"></li>
                                <li ng-show="guidedStep==0"><a ng-click="baselineAdvancedCtl=true;lifestyleAdvancedCtl=true">Show Advanced Controls</a></li>
                                <li ng-show="guidedStep==0"><a ng-click="baselineAdvancedCtl=false;lifestyleAdvancedCtl=false">Hide Advanced Controls</a></li>
                                <li ng-show="guidedStep==0" class="divider"></li>
                                <li><a ng-click="globalUnitsUS(true)">U.S. Units</a></li>
                                <li><a ng-click="globalUnitsUS(false)">Metric Units</a></li>
                                <li class="divider"></li>
                                <li><a ng-click="switchToGuided()">Guided View</a></li>
                                <li><a ng-click="switchToExpert()">Expert View</a></li>
                                <li class="divider"></li>
                                <li><a ng-click="launchDialog('about')">About</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div id="mainBody" class="container-fluid">
            <div class="row">
                <div ng-show="guidedStep != 0" class="col-md-12" style="max-width: 1035px">
                    <div style="min-width:435px;">
                        <div class="panel panel-info">
                            <!--Tabs-->
                            <div class="panel-heading"> 
                                <b>Step {{guidedStep}} of 4 - 
                                    <span ng-show="guidedStep==1">Enter your starting information</span>
                                    <span ng-show="guidedStep==2">Enter your goal weight</span>
                                    <span ng-show="guidedStep==3">Enter your physical activity change (optional)</span>
                                    <span ng-show="guidedStep==4">Results</span>
                                </b>
                                <div style="float:right">
                                    <button type="button" class="btn btn-xs btn-info" ng-model="btnExpertMode" ng-click="switchToExpert()">
                                        <b>Switch to Expert Mode</b>
                                    </button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group has-success row">
                                    <div class="col-sm-1" style="width:0!important; z-index: 10;">
                                        <div id="guidedPanelContainer" ng-class="guidedStep !=1?'guidedPanel':'guidedPanelStep1'">

                                        </div>

                                        <div id="guidedNav" style="width:355px" ng-class="guidedStep==1||guidedStep==4?'w100':''">
                                            <span style="text-align: left;">
                                                <button ng-show="guidedStep != 1" type="button" class="btn btn-primary " style="width: 168px;" ng-click="btnGuidedNextStep(false)">
                                                    <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>&nbsp;&nbsp;<span id="btnGuidedPrevStep">Previous Step</span>
                                                </button>
                                            </span>
                                            <span style="float: right;">
                                                <button type="button" class="btn btn-primary" style="width: 168px; " ng-click="btnGuidedNextStep(true)">
                                                    <span id="btnGuidedNextStep">Next Step</span>&nbsp;&nbsp;<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="guidedStep == 0" class="row">
                <div id="guidedContainerStep1">
                    <div id="guidedStep1" ng-class="guidedStep == 0 ? 'col-md-2 col-sm-2 col-xs-2' : ''" style="min-width:388px; padding-right:0;">
                        <div class="panel panel-default panel-info  ">
                            <div class="panel-heading">
                                Starting Information
                                <div style="float:right">
                                    <button ng-show="guidedStep==0" type="button" class="btn btn-xs btn-info" ng-model="baselineAdvancedCtl" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                                        Advanced Controls: <b>{{baselineAdvancedCtl ? "ON" : "OFF"}}</b>
                                    </button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div ng-if="guidedStep != 0" class="form-group btn-group w100" data-toggle="buttons">
                                    <label class="btn btn-primary active" style="width: 50%" ng-click="globalUnitsUS(true)">
                                        <input type="radio" name="options" autocomplete="off" class="btn btn-primary {{usUnits ? 'active' : ''}}"> U.S. Units
                                    </label>
                                    <label class="btn btn-primary" style="width: 50%" ng-click="globalUnitsUS(false)">
                                        <input type="radio" name="options" autocomplete="off" class="btn btn-primary {{!usUnits ? 'active' : ''}}"> Metric Units
                                    </label>
                                </div>
                                <div class="form-group has-success">
                                    <label class="sr-only">Starting Weight in {{weightUnitsRadioGroupLbl}}</label>
                                    <div class="input-group w100">
                                        <div class="input-group-addon iga-width">Weight</div>
                                        <input class="ng-pristine ng-valid form-control" ng-change-on-blur="changeInitialWeightField()" ng-model="initialWeightField" />
                                        <span ng-show="guidedStep == 0" class="input-group-btn">
                                            <select ng-change="changeWeightUnits()" ng-model="weightUnitsRadioGroup" class="btn">
                                                <option value="Pounds">lbs</option>
                                                <option value="Kilograms">Kg</option>
                                            </select>
                                        </span>
                                        <div ng-if="guidedStep != 0" class="input-group-addon iga-width-e" style="border-left:0;">{{weightUnitsRadioGroupLbl}}</div>
                                    </div>
                                </div>

                                <div class="form-group has-success">
                                    <label class="sr-only">Sex</label>
                                    <div class="input-group w100">
                                        <div class="input-group-addon iga-width">Sex</div>
                                        <select class="ng-pristine ng-valid form-control" ng-change="genderChange()" ng-model="genderBox">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group has-success">
                                    <label class="sr-only">Age</label>
                                    <div class="input-group w100">
                                        <div class="input-group-addon iga-width">Age</div>
                                        <input class="ng-pristine ng-valid form-control" ng-change-on-blur="baselineChange()" ng-model="ageField" />
                                        <div ng-class="guidedStep==1?'input-group-addon iga-width-e':'input-group-addon iga-width-exw'">yrs</div>
                                    </div>
                                </div>
                                <div class="form-group has-success">
                                    <label class="sr-only">Height in {{heightUnitsGroup}}</label>
                                    <div class="input-group w100">
                                        <div class="input-group-addon iga-width">Height</div>
                                        <input id="heightField" ng-show="heightUnitsGroup == 'Centimeters'" class="ng-pristine ng-valid form-control" type="text" ng-change-on-blur="changeHeightField()" ng-model="heightField" />
                                        <input ng-show="heightUnitsGroup == 'Inches'" ng-class="guidedStep==0 ? 'inputFt':''" id="heightFt" class="ng-pristine ng-valid form-control" ng-model="heightFt" ng-change-on-blur="changeHeightFeet()">
                                        <div ng-show="heightUnitsGroup == 'Inches'" ng-class="guidedStep!= 0? 'input-group-addon iga-width-e' : 'input-group-addon heightPadding'" style="border-right:0;border-left:0;">ft.</div>
                                        <input ng-show="heightUnitsGroup == 'Inches'" ng-class="guidedStep==0 ? 'inputIn':''" id="heightin" class="ng-pristine ng-valid form-control" ng-model="heightIn" ng-change-on-blur="changeHeightFeet()">
                                        <div ng-show="heightUnitsGroup == 'Inches'" ng-class="guidedStep!=0 ? 'input-group-addon iga-width-e lastAddon' : 'input-group-addon heightPadding'" style="border-left:0;">in.</div>

                                        <span ng-show="guidedStep == 0" class="input-group-btn">
                                            <select ng-change="changeHeightUnits()" ng-model="heightUnitsGroup" class="btn">
                                                <option value="Inches">
                                                    feet
                                                </option>
                                                <option value="Centimeters">cm</option>
                                            </select>
                                        </span>
                                        <div ng-if="guidedStep != 0 && heightUnitsGroup=='Centimeters'" class="input-group-addon iga-width-e" style="border-left:0;">cm.</div>

                                    </div>
                                </div>
                                <div class="form-group has-success">
                                    <label class="sr-only">Physical Activity Level </label>
                                    <div class="input-group w100">
                                        <div class="input-group-addon iga-width">Physical<br />Activity Level <span class="glyphicon glyphicon-info-sign" popover-placement="bottom" popover-trigger="mouseenter" popover="Click the 'estimate your level' button to find your physical activity level. Typical physical activity level numbers range from 1.4 (sedentary) to 2.5 (very active). The default value of 1.6 describes someone who does very light activity at school or work (mostly sitting) and moderate physical activity (such as walking or cycling) at least once a week." aria-hidden="true"></span></div>
                                        <input class="ng-pristine ng-valid form-control" ng-model="initialPALField" ng-change-on-blur="baselineChange()">
                                        <input type="button" class="btn btn-xs btn-primary btn-block" ng-click="launchDialog('pal')" value="Estimate Your Level">
                                    </div>
                                </div>


                                <div class="bwsAdvanced" style="border-top:1px solid #dfdfdf; padding-top:7px;" ng-show="baselineAdvancedCtl">
                                    <div>
                                        <!--Bgining of advanced panel content-->
                                        <div class="form-group has-success">
                                            <label class="sr-only">Uncertainty Range</label>
                                            <div class="input-group w100">
                                                <div class="input-group-addon iga-width">Uncertainty Range <span class="headln" style="text-align: center; width: 100%"></span><span class="glyphicon glyphicon-info-sign" popover-placement="bottom" popover-trigger="mouseenter" popover="The starting Intake ({{energyUnitsRadioGroupLbl}}) is estimated based on measurements from a typical person with the age, sex, height, weight, and physical activity level entered. However, this estimate has some uncertainty due to individual differences. The overall uncertainty of the starting diet is at least 5%, but is likely 10% or greater." aria-hidden="true"></span></div>
                                                <select class="ng-pristine ng-valid form-control" ng-change="changeSpread()" ng-model="uncertaintyBox">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="25">25</option>
                                                </select>
                                                <div class="input-group-addon iga-width-ew">%</div>
                                            </div>
                                        </div>
                                        <div class="form-group has-success">
                                            <label class="sr-only">% Calories from Carbs</label>
                                            <div class="input-group w100">
                                                <div class="input-group-addon iga-width">% Calories from Carbs</div>
                                                <input class="ng-pristine ng-valid form-control" ng-change-on-blur="changeCarbIntakePct()" ng-model="initialCarbInPercField" />
                                                <div class="input-group-addon iga-width-ew">%</div>
                                            </div>
                                        </div>
                                        <div class="form-group has-success">
                                            <label class="sr-only">Sodium Intake (mg/day)</label>
                                            <div class="input-group w100">
                                                <div class="input-group-addon iga-width">Sodium Intake</div>
                                                <input class="ng-pristine ng-valid form-control" ng-change-on-blur="changeInitialSodium()" ng-model="initialSodiumField" />
                                                <div class="input-group-addon iga-width-ew">mg/day</div>
                                            </div>
                                        </div>
                                        <div class="form-group has-success">
                                            <label class="sr-only">Initial Body Fat %</label>
                                            <div class="input-group w100">
                                                <div class="input-group-addon iga-width">% Body Fat</div>
                                                <input class="ng-pristine ng-valid form-control" ng-change-on-blur="changeBfpField()" ng-model="InitialBfpField" ng-disabled="bfpCalcDisabled" />
                                                <div class="btn-group btn-group-justified">
                                                    <select class="btn-xs btn-block btn-primary btn-group-justified form-control" ng-model="bfpCalcAuto" ng-change="changeBfpInput()">
                                                        <option value="true">Estimated</option>
                                                        <option value="false">Input</option>
                                                    </select>
                                                </div>
                                                <div class="input-group-addon iga-width-ew">%</div>
                                            </div>
                                        </div>
                                        <div class="form-group has-success">
                                            <label class="sr-only">Initial Resting Metabolic Rate as {{energyUnitsRadioGroupLbl}}</label>
                                            <div class="input-group w100">
                                                <div class="input-group-addon iga-width">Resting Metabolic Rate</div>
                                                <input class="ng-pristine ng-valid form-control" min="100" ng-change-on-blur="baselineChange()" ng-model="initialRMRField" ng-disabled="rmrCalcDisabled" />
                                                <div class="btn-group btn-group-justified">
                                                    <select class="btn-xs btn-block btn-primary btn-group-justified ng-valid form-control" ng-model="rmrCalcAuto" ng-change="changeRmrInput()">
                                                        <option value="true">Estimated</option>
                                                        <option value="false">Input</option>
                                                    </select>
                                                </div>
                                                <div class="input-group-addon iga-width-ew">{{energyUnitsRadioGroupLbl}}</div>
                                            </div>
                                        </div>
                                        <!--End of advanced panel content-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="undo" style="display:none;">
                    <input id="undoModel" ng-model="undoModel" />
                    <input id="undoValue" ng-model="undoValue" />
                    <button type="button" ng-click="undo()">
                        Trigger Undo
                    </button>
                </div>
                <!--Goal Panel-->
                <div class="col-sm-7 col-xs-12 rightPanels" style="text-align:left; max-width:1100px">
                    <!--Goal Weight and Lifestyle panel-->
                    <div class="panel panel-info">
                        <!--Tabs-->
                        <div class="panel-heading" style="padding:0;">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="selectedTab=='weight' ? 'active' : ''">
                                    <a ng-click="goalTabsChange('weight')">
                                        Goal Weight
                                    </a>
                                </li>
                                <li role="presentation" ng-class="selectedTab=='lifestyle' ? 'active' : ''">
                                    <a ng-click="goalTabsChange('lifestyle')">
                                        Lifestyle Change
                                    </a>
                                </li>
                                <li style="float:right; top:10px; right:15px;" ng-hide="selectedTab=='weight'">
                                    <button ng-show="guidedStep==0" type="button" class="btn btn-xs btn-info" ng-model="lifestyleAdvancedCtl" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                                        Advanced Controls: <b>{{lifestyleAdvancedCtl ? "ON" : "OFF"}}</b>
                                    </button>
                                </li>
                            </ul>
                        </div>


                        <!--Panel Body For Weight-->
                        <div class="panel-body " id="pnlWeight" ng-show="selectedTab=='weight'">
                            <div id="guidedContainerStep2">
                                <div id="guidedStep2" ng-class="guidedStep == 0 ? 'col-lg-4 col-md-4 col-sm-4 col-xs-4':''" style="min-width:355px; width:355px; padding-left:0;">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5>
                                                Weight Goal
                                            </h5>
                                        </div>
                                        <div class="panel-body has-success">
                                            <div class="input-group form-group w100">
                                                <div class="input-group-addon iga-width-w">Goal Weight</div>
                                                <input class="form-control" ng-change-on-blur="goalChange()" ng-model="goalWeight" />
                                                <div class="input-group-addon iga-width-ew">{{weightUnitsRadioGroupLbl}}</div>
                                            </div>
                                            <div class="input-group form-group w100">
                                                <div class="input-group-addon iga-width-w">I want to reach my goal in</div>
                                                <input class="form-control" ng-change-on-blur="goalChange()" ng-model="goalTime" />
                                                <div class="input-group-addon iga-width-ew">days</div>
                                            </div>
                                            <div class="form-group" style="text-align:center">OR select a date</div>

                                            <div class="input-group form-group w100">
                                                <div class=" input-group-addon iga-width-ew">I want to reach my goal by</div>
                                                <input style="padding-left:5px;padding-right:5px;" type="text" class="form-control" datepicker-popup="" ng-model="dt" is-open="opened" min-date="dtMinDate" max-date="dtMaxDate" ng-required="true" ng-change-on-blur="dtChange()">
                                                <span class="input-group-btn">
                                                    <!-- <button type="button" class="btn calBtn" style="padding: 5px 10px 3px 10px;" ng-click="dtOpen($event)"><img alt="calendar" src="calc_files/calendar-blue.png" /></button> -->
                                                </span>
                                            </div>
                                            <div ng-show="guidedStep!=0" style="text-align:center;">
                                                <!-- <img src="calc_files/scale.png" alt="scale" /> -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div id="guidedContainerStep3">
                                <div id="guidedStep3" ng-class="guidedStep == 0 ? 'col-lg-4 col-md-4 col-sm-4 col-xs-4':''" style="min-width:355px; width:355px; padding-left:0;">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5>
                                                Physical Activity Change <span ng-show="guidedStep == 0">(Optional)</span> 
                                            </h5>
                                        </div>

                                        <div class="panel-body">
                                            <div class="form-group has-success">
                                                <span ng-show="guidedStep==0"><b>Weight Change Phase</b><br /></span>
                                                <div class="input-group w100">
                                                    <div class="input-group-addon  iga-width-w" style="text-align:left;">
                                                        To reach my goal, I will<br />change my physical activity by
                                                    </div>
                                                    <input class="btn-block" style="padding-left:5px;" ng-change-on-blur="goalChange()" ng-model="goalActChangeBox" />
                                                    <button class="btn btn-xs btn-primary btn-block" ng-click="launchDialog('palChangeWeight')">Calculate</button>
                                                    <div class="input-group-addon">%</div>
                                                </div>
                                            </div>
                                            <div ng-show="guidedStep!=0" style="text-align:center;">
                                                <!-- <img src="calc_files/runningShoes.png" alt="athletic shoes" /> -->
                                            </div>
                                            <div class="form-group has-success" ng-show="guidedStep==0">
                                                <b>Goal Maintenance Phase</b><br />
                                                <div class="input-group">
                                                    <div class="input-group-addon  iga-width-w" style="text-align:left;">
                                                        To maintain my goal, I will<br />change my physical activity by
                                                    </div>
                                                    <input class="btn-block" style="padding-left:5px;" ng-change-on-blur="goalChange()" ng-model="goalMaintenanceActChangeBox" />
                                                    <button class="btn btn-xs btn-primary btn-block" ng-click="launchDialog('palChangeMaintenance')">Calculate</button>
                                                    <div class="input-group-addon">%</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="guidedContainerStep4">
                                <div id="guidedStep4" ng-class="guidedStep == 0 ? 'col-lg-4 col-md-4 col-sm-4 col-xs-4':''" style="min-width:340px; width:340px; padding-left:0; padding-right:0;">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="padding-bottom:6px; padding-top:6px;">
                                            <h5 style="vertical-align:middle;">

                                                <!-- <img src="calc_files/resultsArrow.jpg" />&nbsp;Results -->
                                            </h5>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group btn-group w100" data-toggle="buttons">
                                                <label class="btn btn-primary active" style="width: 50%" ng-click="energyUnitsRadioGroup='Calories/day'; changeEnergyUnits()">
                                                    <input type="radio" name="options" autocomplete="off" class="btn btn-primary {{usUnits ? 'active' : ''}}"> Calories
                                                </label>
                                                <label class="btn btn-primary" style="width: 50%" ng-click="energyUnitsRadioGroup='Kilojoules/day'; changeEnergyUnits()">
                                                    <input type="radio" name="options" autocomplete="off" class="btn btn-primary {{!usUnits ? 'active' : ''}}"> Kilojoules
                                                </label>
                                            </div>

                                            <div class="form-group has-success">
                                                <div class="input-group">
                                                    <div class="input-group-addon  iga-width-w" style="text-align:left;">
                                                        In order to <i>maintain</i><br />your current weight,<br /> you should eat:
                                                    </div>

                                                    <div class="input-group-addon">
                                                        <div class="resultsHighlight">
                                                            <h4 style="margin:0;">{{maintCalsField | number:0}}</h4>{{energyUnitsRadioGroup}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group has-success">
                                                <div class="input-group">
                                                    <div class="input-group-addon iga-width-w" style="text-align:left;">
                                                        To <i>reach</i> your goal of <br /><b>{{goalWeight}} {{weightUnitsRadioGroupLbl}}</b> in <b>{{goalTime}} days</b>,<br /> you should eat:
                                                    </div>
                                                    <div class="input-group-addon">
                                                        <div class="resultsHighlight">
                                                            <h4 style="margin:0;">{{goalCalsField | number:0}}</h4>{{energyUnitsRadioGroup}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group has-success">
                                                <div class="input-group">
                                                    <div class="input-group-addon iga-width-w" style="text-align:left;">
                                                        To <i>maintain</i> your goal<br />of <b>{{goalWeight}} {{weightUnitsRadioGroupLbl}}</b>,<br /> you should eat:
                                                    </div>
                                                    <div class="input-group-addon">
                                                        <div class="resultsHighlight">
                                                            <h4 style="margin:0;">{{goalMaintCalsField | number:0}}</h4>{{energyUnitsRadioGroup}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Panel Body For Lifestyle-->
                        <div class="panel-body" id="pnlLifestyle" ng-show="selectedTab=='lifestyle'">
                            <p>Change your calories (intake) or activity (expenditure) to see how your weight will change.  </p>
                            <!--First intervention-->
                            <div class="col-md-6" style="min-width:450px; padding-right:0;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5>
                                            Change 1
                                            <span class="btn-group btn-group-xs" role="group" aria-label="..." ng-click="goalChange()" style="float:right;">
                                                <button ng-model="int1_onField" type="button" btn-radio="true" class="btn btn-default {{int1_onField ? 'active' : ''}}">On</button>
                                                <button ng-model="int1_onField" type="button" btn-radio="false" class="btn btn-default {{!int1_onField ? 'active' : ''}}">Off</button>

                                            </span>
                                        </h5>
                                    </div>
                                    <div class="panel-body" ng-hide="!int1_onField">
                                        <div class="form-group" ng-hide="!lifestyleAdvancedCtl">
                                            <button type="button" class="btn btn-xs btn-primary" ng-model="int1_gradulalRampField" ng-change="goalChange()" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                                                Gradually Ramp Changes: <b>{{int1_gradulalRampField ? "ON" : "OFF"}}</b>
                                            </button>
                                        </div>
                                        <div class="form-group form-inline">
                                            {{int1_gradulalRampField ? "Complete change on day" : "Change starts on day"}}
                                            <input class="form-control" style="width:50px; " ng-change-on-blur="goalChange()" ng-model="int1_dayField" />
                                            with an intake of <input class="form-control" style="width:80px;" ng-change-on-blur="goalChange()" ng-model="int1_calField" /> {{energyUnitsRadioGroup}}.
                                        </div>
                                        <div class="form-group has-success">
                                            <div class="input-group w100">
                                                <div class="input-group-addon int-wide">
                                                    Change your physical activity by
                                                </div>
                                                <input class="btn-block" ng-change-on-blur="goalChange()" ng-model="int1_palField" />
                                                <button class="btn btn-xs btn-primary btn-block" ng-click="launchDialog('int1_pal')">Estimate</button>
                                                <div class="input-group-addon iga-width-ew">%</div>
                                            </div>
                                        </div>
                                        <div class="lifestyleAdvanced" ng-hide="!lifestyleAdvancedCtl">
                                            <div class="form-group has-success">
                                                <label class="sr-only">New % Calories from Carbs</label>
                                                <div class="input-group w100">
                                                    <div class="input-group-addon int-wide">New Calories from Carbs</div>
                                                    <input class="ng-pristine ng-valid form-control" ng-change-on-blur="goalChange()" ng-model="int1_carbInPercField" />
                                                    <div class="input-group-addon iga-width-ew">%</div>
                                                </div>
                                            </div>
                                            <div class="form-group has-success">
                                                <label class="sr-only">New Sodium (mg/day)</label>
                                                <div class="input-group w100">
                                                    <div class="input-group-addon int-wide">New Sodium Intake</div>
                                                    <input class="ng-pristine ng-valid form-control" ng-change-on-blur="goalChange()" ng-model="int1_sodiumField" ng-disabled="int1_sodiumAutoField=='true'? true : false" />
                                                    <div class="btn-group btn-group-justified">
                                                        <select class="btn-xs btn-block btn-primary btn-group-justified ng-valid form-control" ng-model="int1_sodiumAutoField" ng-change="goalChange()">
                                                            <option value="true">Estimated</option>
                                                            <option value="false">Input</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group-addon iga-width-ew">mg/day</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--Second intervention-->
                            <div class="col-md-6" style="min-width:450px; padding-right:0;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5>
                                            Change 2
                                            <span class="btn-group btn-group-xs" role="group" aria-label="..." ng-click="goalChange()" style="float:right">
                                                <button ng-model="int2_onField" type="button" btn-radio="true" class="btn btn-default {{int2_onField ? 'active' : ''}}">On</button>
                                                <button ng-model="int2_onField" type="button" btn-radio="false" class="btn btn-default {{!int2_onField ? 'active' : ''}}">Off</button>

                                            </span>
                                        </h5>
                                    </div>
                                    <div class="panel-body" ng-hide="!int2_onField">
                                        <div class="form-group" ng-hide="!lifestyleAdvancedCtl">
                                            <button type="button" class="btn btn-xs btn-primary" ng-model="int2_gradulalRampField" ng-change="goalChange()" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                                                Gradually Ramp Changes <b>{{int2_gradulalRampField ? "ON" : "OFF"}}</b>
                                            </button>
                                        </div>
                                        <div class="form-group form-inline">
                                            {{int2_gradulalRampField ? "Complete change on day" : "Change starts on day"}}
                                            <input class="form-control" style="width:50px; " ng-change-on-blur="goalChange()" ng-model="int2_dayField" />
                                            with an intake of <input class="form-control" style="width:80px;" ng-change-on-blur="goalChange()" ng-model="int2_calField" /> {{energyUnitsRadioGroup}}.
                                        </div>
                                        <div class="form-group has-success">
                                            <div class="input-group w100">
                                                <div class="input-group-addon int-wide">
                                                    Change your physical activity by
                                                </div>
                                                <input class="btn-block" ng-change-on-blur="goalChange()" ng-model="int2_palField" />
                                                <button class="btn btn-xs btn-primary btn-block" ng-click="launchDialog('int2_pal')">Estimate</button>
                                                <div class="input-group-addon iga-width-ew">%</div>
                                            </div>
                                        </div>
                                        <div class="lifestyleAdvanced" ng-hide="!lifestyleAdvancedCtl">
                                            <div class="form-group has-success">
                                                <label class="sr-only">New % Calories from Carbs</label>
                                                <div class="input-group w100">
                                                    <div class="input-group-addon int-wide">New Calories from Carbs</div>
                                                    <input class="ng-pristine ng-valid form-control" ng-change-on-blur="goalChange()" ng-model="int2_carbInPercField" />
                                                    <div class="input-group-addon iga-width-ew">%</div>
                                                </div>
                                            </div>
                                            <div class="form-group has-success">
                                                <label class="sr-only">New Sodium (mg/day)</label>
                                                <div class="input-group w100">
                                                    <div class="input-group-addon int-wide">New Sodium Intake</div>
                                                    <input class="ng-pristine ng-valid form-control" ng-change-on-blur="goalChange()" ng-model="int2_sodiumField" ng-disabled="int2_sodiumAutoField=='true'? true : false" />
                                                    <div class="btn-group btn-group-justified">
                                                        <select class="btn-xs btn-block btn-primary btn-group-justified ng-valid form-control" ng-model="int2_sodiumAutoField" ng-change="goalChange()">
                                                            <option value="true">Estimated</option>
                                                            <option value="false">Input</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group-addon iga-width-ew">mg/day</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!--simulation results-->
                    <div class="panel panel-info">
                        <div class="panel-heading">Simulation Displayed</div>
                        <div class="panel-body">
                            <div class="alert alert-danger" role="alert" ng-show="lowBmiShow">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="float:left; padding:3px;"></span>
                                <span class="sr-only">Warning: Low BMI</span>
                                <span style="display:block; padding-left:25px" ng-show="selectedTab == 'weight'">The goal weight you entered is below a healthy weight for someone of your height and age.<br />A healthy weight range for you is between {{weightRangeLow}} and {{weightRangeHigh}} {{weightUnitsRadioGroup | lowercase}}.</span>
                                <span style="display:block; padding-left:25px" ng-show="selectedTab != 'weight'">The lifestyle changes you entered resulted in a low BMI for someone of your height and age.</span>

                            </div>
                            <div class="alert alert-danger" role="alert" ng-show="highBmiShow">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="float:left; padding:3px;"></span>
                                <span class="sr-only">Warning: High BMI</span>
                                <span style="display:block; padding-left:25px" ng-show="selectedTab == 'weight'">The goal weight you entered is above a healthy weight for someone of your height and age.<br />A healthy weight range for you is between {{weightRangeLow}} and {{weightRangeHigh}} {{weightUnitsRadioGroup | lowercase}}.</span>
                                <span style="display:block; padding-left:25px" ng-show="selectedTab != 'weight'">The lifestyle changes you entered resulted in a high BMI for someone of your height and age.</span>
                            </div>
                            <div class="alert alert-danger" role="alert" ng-show="lifestyleLowIntakeShow">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="float:left; padding:3px;"></span>
                                <span class="sr-only">Dangerously Low Intake: Please adjust your lifestyle intake</span>
                                <span style="display:block; padding-left:25px">Daily intake must be at least 1000 calories/day. Food group targets and nutrient recommendations will not be met below 1000 calories/day.</span>
                            </div>
                            <div class="alert alert-danger" role="alert" ng-show="goalLowIntakeShow">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="float:left; padding:3px;"></span>
                                <span class="sr-only">Dangerously Low Intake: Please adjust your goal</span>
                                <span style="display:block; padding-left:25px">
                                    The information you entered results in a {{energyUnitsLblSrt | lowercase}} level that is too low.
                                    <br />Calorie goals must be at least 1000 calories/day. Food group targets and nutrient recommendations will not be met below 1000 calories/day.
                                    <br />The last change you made has been reset so that you can enter a different value. Try giving yourself more time to achieve your goal, changing your activity level, or setting a different goal.
                                </span>
                            </div>
                            <div class="form-group has-success" style="width:350px !important; ">
                                <div style="padding-top:0; padding-bottom:10px; ">
                                    <label class="sr-only">Length of Simulation (days)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon iga-width-w">Length of Simulation</div>
                                        <input class="ng-pristine ng-valid form-control" ng-change-on-blur="goalChange()" ng-model="simulationLengthField" />
                                        <div class="input-group-addon iga-width-ew">days</div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <span class="simLabel" style="width:120px">Initial Weight ({{weightUnitsRadioGroupLbl}}): </span><span class="label label-default simVal">{{initialWeightField2}}</span>
                                <span class="simLabel">Initial % Fat: </span><span class="label label-default simVal">{{initialBfpField2}}</span>
                                <span class="simLabel">Initial BMI: </span><span class="simVal label label-default ">{{initialBMIField}}</span>
                            </div>
                            <div>
                                <span class="simLabel" style="width:120px">Final Weight ({{weightUnitsRadioGroupLbl}}): </span><span class="label label-default simVal">{{finalWeightField}}</span>
                                <span class="simLabel">Final % Fat: </span><span class="label label-default simVal">{{finalBfpField}}</span>
                                <span class="simLabel">Final BMI: </span><span class="label label-default simVal">{{finalBMIField}}</span>
                            </div>

                            <div style="padding-top:10px; padding-bottom:0;">

                                <!--Tabs-->
                                <ul class="nav nav-tabs">
                                    <li role="presentation" ng-class="selectedChartTab=='Weight' ? 'active' : ''">
                                        <a ng-click="chartTabsChange('Weight')">
                                            Weight
                                        </a>
                                    </li>
                                    <li role="presentation" ng-class="selectedChartTab=='BodyFat' ? 'active' : ''">
                                        <a ng-click="chartTabsChange('BodyFat')">
                                            Body Fat %
                                        </a>
                                    </li>
                                    <li role="presentation" ng-class="selectedChartTab=='InEx' ? 'active' : ''">
                                        <a ng-click="chartTabsChange('InEx')">
                                            Intake &amp; Expenditure
                                        </a>
                                    </li>
                                    <li role="presentation" ng-class="selectedChartTab=='Tabular' ? 'active' : ''">
                                        <a ng-click="chartTabsChange('Tabular')">
                                            Tabular
                                        </a>
                                    </li>
                                </ul>

                                <div style="padding-top: 20px; text-align:left;">
                                    <div id="chartContainer" style="display: inline-block; vertical-align: top; text-align:center; padding-right:20px;">
                                        <div class="graphInfo">
                                            Click and drag to zoom
                                            <button type="button" class="btn btn-xs btn-default" ng-click="chartZoomReset()">Reset View</button>
                                            <iframe id="pngFrame" style="display:none"></iframe>
                                            <a id="downloadChart" title="Download Chart" ng-click="chartDownload()" class="btn btn-xs btn-default">Download Chart as Image</a>
                                            <span class="glyphicon glyphicon-info-sign" popover-placement="bottom" popover-trigger="mouseenter" popover="If you follow the {{energyUnitsLblSrt | lowercase}} level and physical activity routine you entered above, you can expect your results to be within the shaded blue area on the graph below." aria-hidden="true"></span>
                                        </div>
                                        <div id="ex0"></div>
                                        <div title="Zoom Bar" style="width:480px; float:right; margin-bottom:10px;" ng-change="chartSliderZoomChange()" class="ng-valid ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false" ng-model="zoomSlider" step="1" max="{{simulationLengthField}}" min="0" ui-slider={{zoomSliderOptions}}><a title="Zoom starts at day {{zoomSlider[0]}}" class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a><a class="ui-slider-handle ui-state-default ui-corner-all" title="Zoom ends at day {{zoomSlider[1]}}" href="#"></a></div>
                                    </div>
                                    <div style="display: inline-block;vertical-align: top;">
                                        <div style="padding-bottom:10px;">
                                            <iframe id="csvFrame" style="display:none"></iframe>
                                            <a id="btnCsvExport" ng-click="btnCsvExportClick()" title="Export Table to CSV Format" class="btn btn-xs btn-default">Export Charts Data (CSV Format {{detectIE()? ".txt File": "" }})</a>
                                        </div>
                                        <div id="table_div"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</body>
</html>
