{% if render_calendar %}
  <script src="https://unpkg.com/@fullcalendar/core/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/interaction/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/daygrid/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/timegrid/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/list/main.min.js"></script>
{% endif %}
{% if js_context %}
  <script>
    var { CLIENT_ID, API_KEY, calendarId, eventId } = {{ js_context|safe }};
  </script>
{% endif %}
<script>
  var renderCalendar = {% firstof render_calendar 'false' %};
</script>
{% load static %}
<script src="{% static 'js/calendar.min.js' %}"></script>
