<td class="align-middle text-center">
  <div class="efield mx-auto" id="{{ name }}_efield">

    {{ input.errors }}

    {% if input.field.widget.input_type == 'range' %}
      
      <div class="d-flex" lang="en-US">
        {{ input }}
      </div>
      
      <span class="field-extra text-muted" id="{{ name }}_extra">{{ extra }}</span>
      {% if unit %}<span class="field-unit text-muted"> {{ unit }}</span>{% endif %}
      
    {% else %}

      {% include './field.html' with value="..." %}

      <div class="efield-controls" lang="en-US">

        {{ input }}

        <div class="d-flex align-items-center">
          <button class="efield-save btn btn-primary btn-sm">
            <i class="fas fa-check"></i>
          </button>
          
          <button class="efield-cancel btn btn-secondary btn-sm">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    {% endif %}
  </div>
</td>
