{% extends "base_generic.html" %}

{% block navbar %}
  <button type="submit" class="btn btn-primary my-0 px-3 float-right" form="form">
    <i class="fas fa-save"></i>
    <span>&nbsp;&nbsp;Guardar</span>
  </button>
  <a href="{{ next }}" class="btn btn-secondary my-0 ml-3 px-3 float-right">
    <i class="fas fa-undo"></i>
    <span>&nbsp;&nbsp;Cancelar</span>
  </a>
{% endblock %}

{% block content %}
  <form id="form" action="" method="post">
    {% csrf_token %}
    {% block form %}
      {{ form.non_field_errors }}
      <div class="table-responsive-lg mb-4">
        <table>
          {{ form.as_table }}
        </table>
      </div>
    {% endblock %}
  </form>
{% endblock %}
