{% extends "base_generic.html" %}

{% block content %}
  {% if list %}
    <div class="table-responsive-lg">
      <table class="table table-list">
        <thead class="text-primary">
          {% for col in cols %}
            <th>
              {{ col }}
            </th>
          {% endfor %}
        </thead>
        <tbody>
          {% for row in rows %}
            <tr{% if row.color %} class="bg-{{ row.color }}"{% endif %}>
              {% for field in row.fields %}
                <td>
                  {% if field.href %}
                    <a href="{{ field.href }}">{{ field.value }}</a>
                  {% else %}
                    {{ field.value }}
                  {% endif %}
                </td>
              {% endfor %}
              <td class="text-right">
                {% for button in buttons %}
                  {% block list_buttons %}
                    <a class="btn btn-link" href="{% url button.url row.object.id %}?next={{ request.path }}">
                      {% if button.icon %}<i class="fas fa-{{ button.icon }}"></i>{% endif %}
                      {% if button.text %}{{ button.text }}{% endif %}
                    </a>
                  {% endblock %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>Não tem {{ model_vbname_plural }}.</p>
  {% endif %}
{% endblock %}
