{% extends 'common/generic_form.html' %}

{% load static %}
{% block links %}
  <link rel="stylesheet" href="{% static 'css/plan.css' %}">
{% endblock %}

{% block content %}
  <form id="form" action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="row">
      <div class="col">
          {{ form.client.errors }}
          <label for="{{ form.client.id_for_label }}">Cliente:</label>
          {{ form.client }}
      </div>
      <div class="col">
          {{ form.meeting.errors }}
          <label for="{{ form.meeting.id_for_label }}">Consulta:</label>
          {{ form.meeting }}
      </div>
    </div>

    <div id="wrapper" class="disabled" style="opacity: 0.5;">
      {% include './client_info/index.html' with columns=columns.client_info %}
      {% include './calculations/index.html' %}
      {% include './macronutrients/index.html' with columns=columns.macronutrients %}
      {% include './food_dosages/index.html' with columns=None unit='doses' %}
    </div>
  </form>
  
  <iframe id="calc" src="{% static 'calc/calc.html' %}" class="d-none"></iframe>
{% endblock %}

{% block scripts %}
  {% if js_context %}
    <script type='text/javascript'>
      var jsContext = {{ js_context|safe }};
    </script>
  {% endif %}
  <script src="{% static 'js/plan.min.js' %}"></script>
{% endblock %}

      {% comment %} {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %} {% endcomment %}