/* Bootstrap */
.form-control:focus {
  box-shadow: none;
}


body {
  background-color: #e9ecef;
}

/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


.field-value {
  font-size: large;
}
.field-unit {
  font-size: small;
}
.field-extra {
  font-size: small;
  font-weight: lighter;
}

.efield {
  /* background: lightgreen; */
  width: 100px;
}
.efield input {
  width: 75px;
}
.efield input[type='range'] {  
  width: 150px;
  margin-left: -25px;
}
/* .efield select {
  width: 200px;
} */
.efield button {
  width: 35px;
  margin-left: 5px;
  z-index: 500;
}
.efield .field-value {
  border-bottom: 2px dashed #28a745;
  font-style: italic;
}


.card {
  padding: 20px 30px;
  margin: 20px 0;
  box-shadow: 0 2px 2px 0 #ced4da;
}
.card-title {
  margin-bottom: 5px;
  font-size: x-large;
  font-weight: lighter;
}
.card-subtitle {
  margin-bottom: 5px;
  font-size: medium;
}

.table {
  margin-bottom: 0px;
}
.table thead th {
  padding: 0;
  padding-bottom: 5px;
  border-top: none;
}
thead th {
  font-size: small;
}
tbody th {
  width: 40%;
}
tbody th i {
  width: 50px;
  margin-right: 10px;
  font-size: xx-large;
  text-align: center;
}
.row-name {
  font-size: medium;
}
.row-description {
  font-size: small;
  font-weight: lighter;
}
tbody td {
  width: 15%;
}

input[type='submit'] {
  margin: 0 20px 20px 0;
}
