/* Bootstrap */
.form-control:focus {
  box-shadow: none;
}


body {
  background-color: #e9ecef;
  color: #495057;
}


.field-value {
  font-size: large;
}
.field-unit {
  font-size: small;
}
.field-extra {
  font-size: small;
  font-weight: lighter;
}

.efield {
  /* background: lightgreen; */
  width: 150px;
}
.efield input {
  width: 75px;
}
.efield input[type='range'] {  
  width: 150px;
  margin-left: -25px;
}
.efield select {
  width: 200px;
}
.efield button {
  width: 35px;
  margin-left: 5px;
  z-index: 500;
}
.efield .field-value {
  border-bottom: 2px dashed #28a745;
  font-style: italic;
}


.table {
  margin-bottom: 0px;
  color: inherit;
}
.table thead th {
  padding: 0;
  padding-bottom: 5px;
  border: none;
}
thead th {
  font-size: small;
}
tbody th {
  width: 40%;
}
tbody th i:not([class='']) {
  width: 50px;
  margin-right: 10px;
  font-size: xx-large;
  text-align: center;
}
.row-name {
  font-size: medium;
}
.row-description {
  font-size: small;
  font-weight: lighter;
}
tbody td {
  width: 15%;
}


@media (min-width: 576px) {
  table#optimal_dosages tbody tr {
    height: 100px;
  }
}
