/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


.disabled {
  pointer-events: none;
}


.table-list tbody tr {
  opacity: 0.6;
}
.table-list tbody tr:hover {
  background-color: #eee;
  opacity: 1;
}
td .btn {
  width: 40px;
  margin: 0;
  padding: 5px 10px;
  font-size: large;
}
