/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


/* .sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.data-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.data-table td, .data-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.data-table tr:nth-child(even) {
    background-color: #dddddd;
} */

td .btn {
  width: 40px;
  margin: 0;
  padding: 5px 10px;
  font-size: large;
}