{% extends '../common/row.html' %}

{% block icon %}fas fa-apple-alt{% endblock %}

{% block name %}Distribuição de doses{% endblock %}

{% block fields %}
  {% include '../common/efield.html' with name='regular_milk' extra='250 ml/dose' input=form.regular_milk %}
  {% include '../common/efield.html' with name='low_fat_milk' extra='250 ml/dose' input=form.low_fat_milk %}
  {% include '../common/efield.html' with name='fruit' extra='inteira' input=form.fruit %}
  {% include '../common/efield.html' with name='vegetables' extra='100 g/dose' input=form.vegetables %}
{% endblock %}
