{% extends "base_generic.html" %}

{% block links %}
  <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core/main.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid/main.min.css">
  <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/timegrid/main.min.css">
{% endblock %}

{% block navbar %}
  <div id="spinner" class="spinner-border mr-3 text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <button id="authorize_button" class="btn btn-primary my-0 float-right" style="display: block;">Autorizar conta Google</button>
  <button id="signout_button" class="btn btn-primary my-0 float-right" style="display: none;">Alterar conta Google</button>
{% endblock %}

{% block content %}
  <div id="calendar"></div>
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/@fullcalendar/core/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/interaction/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/daygrid/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/timegrid/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/google-calendar/main.min.js"></script>
  {% load static %}
  <script src="{% static 'js/calendar.js' %}"></script>
  <script async defer src="https://apis.google.com/js/api.js"
    onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>
{% endblock %}
