{% extends "base_generic.html" %}

{% block content %}
  <h1>Cliente: {{ client.name }}</h1>

  <p><strong>Data de nascimento:</strong> {{ client.born }}</p>
  
  {% if perms.nutriservice.change_client %}<a class="btn btn-primary" href="{% url 'client-update' client.pk %}">Modificar</a>{% endif %}
  {% if perms.nutriservice.delete_client %}<a class="btn btn-danger" href="{% url 'client-delete' client.pk %}">Apagar</a>{% endif %} 

  <div style="margin-left:20px;margin-top:20px">
    <h4>Planos</h4>

    {% for plan in client.plan_set.all %}
      <hr>
      <p><strong>Consulta:</strong> {{ plan.meeting }}</p>
      <p><strong>Data:</strong> {{ plan.date }}</p>
      <p><strong>Energia:</strong> {{ plan.energy }} kcal</p>
    {% endfor %}
  </div>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Consultas</h4>

    {% for meeting in client.meeting_set.all %}
      <hr>
      <p><strong>Data:</strong> {{ meeting.date }}</p>
      <p><strong>Peso:</strong> {{ meeting.weight }} kg</p>
    {% endfor %}
  </div>
{% endblock %}