{% extends "nutriservice/template_form.html" %}

{% block content %}
  <form id="form" action="" method="post">
    {% csrf_token %}
    {% block form %}{{ block.super }}{% endblock %}
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title">Refeições</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive-lg">
          <table class="table data-table">
            <thead class="text-primary">
              <tr>
                <th>Refeição</th>
                <th>Hora</th>
                <th>Local</th>
                <!-- <th>Composição</th>
                <th>Líquidos</th> -->
              </tr>
            </thead>
            {{ form.meals_formset.management_form }}
            {% for meal_form in form.meals_formset %}
              <tr>
                {{ meal_form.id }}
                <td>{{ meal_form.meal_name }}</td>
                {% for field in meal_form.visible_fields %}
                  <td>{{ field.errors }}{{ field }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
