{% extends "base_generic.html" %}

{% block title %}
  <title>Clientes - rutinutri</title>
{% endblock %}

{% block sidebar %}
  {% with url='clients' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block page %}Clientes{% endblock %}

{% block navbar %}
  {% if perms.nutriservice.add_client %}
      <a class="btn btn-primary float-right" href="{% url 'client-create' %}">Novo cliente</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% if client_list %}
    <div class="table-responsive-lg">
      <table class="table">
        <thead class="text-primary">
          <th>
            Nome
          </th>
          <th>
            Sexo
          </th>
          <th class="text-right">
            Idade
          </th>
          <th class="text-right">
            Peso
          </th>
          <th class="text-right">
            IMC
          </th>
        </thead>
        <tbody>
          {% for client in client_list %}
              <tr>
                <td>
                  {{ client.name }}
                </td>
                <td>
                  {{ client.get_gender_display }}
                </td>
                <td class="text-right">
                  {{ client.age }} anos
                </td>
                <td class="text-right">
                  {{ client.weight }} kg
                </td>
                <td class="text-right">
                  {{ client.get_bmi }} kg/m2
                </td>
                <td class="text-right">
                  {% if perms.nutriservice.view_client %}<a class="btn btn-link" href="{% url 'client-detail' client.pk %}"><i class="fas fa-file-alt"></i></a>{% endif %}
                  {% if perms.nutriservice.change_client %}<a class="btn btn-link" href="{% url 'client-update' client.pk %}"><i class="fas fa-edit"></i></a>{% endif %}
                  {% if perms.nutriservice.delete_client %}<a class="btn btn-link" href="{% url 'client-delete' client.pk %}"><i class="fas fa-trash-alt"></i></a>{% endif %}
                </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>Não tem clientes.</p>
  {% endif %}
{% endblock %}
