{% extends "base_generic.html" %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table>
      {{ form.as_table }}
    </table>
    <table class="data-table">
      <tr>
        <th>Refeição</th>
        <th>Hora</th>
        <th>Local</th>
        <!-- <th>Composição</th>
        <th>Líquidos</th> -->
      </tr>
      {{ form.meals_formset.management_form }}
      {% for meal_form in form.meals_formset %}
        <tr>
          <td>{{ meal_form.meal_name }}</td>
          {% for field in meal_form %}
            <td>{{ field.errors }}{{ field }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <input type="submit" value="Guardar">
  </form>
{% endblock %}