{% extends "base_generic.html" %}

{% block title %}
  <title>Consultas - nutricenas</title>
{% endblock %}

{% block sidebar %}
  {% with url='meetings' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block page %}Consultas{% endblock %}

{% block navbar %}
  {% if perms.nutriservice.view_meeting %}
      <a class="btn btn-secondary float-right" href="{% url 'calendar' %}">Calendário</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% if meeting_list %}
    <div class="table-responsive-lg">
      <table class="table">
        <thead class="text-primary">
          <th>
            Cliente
          </th>
          <th>
            Data
          </th>
          <th class="text-right">
            Peso
          </th>
        </thead>
        <tbody>
          {% for meeting in meeting_list %}
              <tr>
                <td>
                  <a href="{{ meeting.client.get_absolute_url }}">{{ meeting.client.name }}</a>
                </td>
                <td>
                  {{ meeting.date }}
                </td>
                <td class="text-right">
                  {{ meeting.weight }} kg
                </td>
                <td class="text-right">
                  {% if perms.nutriservice.view_meeting %}<a class="btn btn-link" href="{% url 'meeting-detail' meeting.pk %}"><i class="fas fa-file-alt"></i></a>{% endif %}
                  {% if perms.nutriservice.change_meeting %}<a class="btn btn-link" href="{% url 'meeting-update' meeting.pk %}"><i class="fas fa-edit"></i></a>{% endif %}
                  {% if perms.nutriservice.delete_meeting %}<a class="btn btn-link" href="{% url 'meeting-delete' meeting.pk %}"><i class="fas fa-trash-alt"></i></a>{% endif %}
                </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>Não tem consultas.</p>
  {% endif %}
{% endblock %}
