{% extends 'nutriservice/template_confirm_delete.html' %}

{% block navbar %}
  <div id="spinner" class="spinner-border mr-3 text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <button id="authorize_button" class="btn btn-warning my-0 mr-5 float-right">
    <i class="fab fa-google"></i>
    <span>&nbsp;&nbsp;Autorizar conta Google</span>
  </button>
  <button id="signout_button" class="btn btn-secondary my-0 mr-5 float-right" style="display: none;">
    <i class="fas fa-sign-out-alt"></i>
    <span>&nbsp;&nbsp;Alterar conta Google</span>
  </button>
  {{ block.super }}
{% endblock %}

{% block form %}
  {{ form.event }}
{% endblock %}

{% block scripts %}
  {% if js_context %}
    <script>
      var { calendarId, eventId } = {{ js_context|safe }};
    </script>
  {% endif %}
  {% load static %}
  <script src="{% static 'js/calendar.js' %}"></script>
  <script async defer src="https://apis.google.com/js/api.js"
    onload="this.onload=function(){};handleClientLoad(false)"
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>
{% endblock %}
