{% extends "base_generic.html" %}

{% block content %}
  <h1>Plano</h1>
  {% if perms.nutriservice.add_plan %}
    <a class="btn btn-success" href="{% url 'plan-update' plan.pk %}?next={{request.path}}">Editar</a>
  {% endif %}
  {% if perms.nutriservice.delete_plan %}
    <a class="btn btn-secondary" href="{% url 'plan-delete' plan.pk %}">Apagar</a>
  {% endif %}

  <p><strong>Consulta:</strong> {{ plan.meeting }}</p>
  <p><strong>Data:</strong> {{ plan.date }}</p>
  <p><strong>Energia:</strong> {{ plan.energy }} kcal</p>

{% endblock %}