{% extends "base_generic.html" %}

{% block title %}
  <title>Planos - rutinutri</title>
{% endblock %}

{% block sidebar %}
  {% with url='plans' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block page %}Planos{% endblock %}

{% block content %}
  {% if plan_list %}
    <div class="table-responsive-lg">
      <table class="table">
        <thead class="text-primary">
          <th>
            Cliente
          </th>
          <th>
            Data
          </th>
          <th class="text-right">
            Energia diária
          </th>
        </thead>
        <tbody>
          {% for plan in plan_list %}
              <tr>
                <td>
                  <a href="{{ plan.client.get_absolute_url }}">{{ plan.client.name }}</a>
                </td>
                <td>
                  {{ plan.date }}
                </td>
                <td class="text-right">
                  {{ plan.daily_energy }} kcal/dia
                </td>
                <td class="text-right">
                  {% if perms.nutriservice.view_plan %}<a class="btn btn-link" href="{% url 'plan-detail' plan.pk %}"><i class="fas fa-file-alt"></i></a>{% endif %}
                  {% if perms.nutriservice.change_plan %}<a class="btn btn-link" href="{% url 'plan-update' plan.pk %}"><i class="fas fa-edit"></i></a>{% endif %}
                  {% if perms.nutriservice.delete_plan %}<a class="btn btn-link" href="{% url 'plan-delete' plan.pk %}"><i class="fas fa-trash-alt"></i></a>{% endif %}
                </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>Não tem planos.</p>
  {% endif %}
{% endblock %}
