{% extends "base_generic.html" %}

{% block navbar %}
  <a href="{{ next }}" class="btn btn-secondary my-0 ml-3 float-right">Cancelar</a>
  <button type="submit" class="btn btn-primary my-0 float-right" form="form">Guardar</button>
{% endblock %}

{% block content %}
  <form id="form" action="" method="post">
    {% csrf_token %}
    {% block form %}
      {{ form.non_field_errors }}
      <div class="table-responsive-lg mb-4">
        <table>
          {{ form.as_table }}
        </table>
      </div>
    {% endblock %}
  </form>
{% endblock %}
